<div class='login-view'>
  <div class='login-container'>
    <form action='/login' method='POST' class='login-form'>
      <img src='/images/logo.png' alt='IronTours Logo' class='login-logo' />
      {{! <h1>Log In</h1> }}
      {{! <label for='email'>email</label> }}
      <input
        type='email'
        name='email'
        class='login-input'
        placeholder='Email'
        required
      />
      {{! <label for='password'>password</label> }}
      <input
        type='password'
        name='password'
        class='login-input'
        placeholder='Password'
        required
      />
      <button type='submit' class='login-btn'>Log in</button>
    </form>
    <div class="section-auth-google">
      <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
      </a>
    </div>

    {{!-- <div>
      <a href='/auth/google' class='login-btn'>Login With Google</a>
    </div> --}}
    {{#if err}}
      <p class='login-error'>{{err}}</p>
    {{/if}}
  </div>
</div>