.profile-view {
  /* height: 100vh;
  background: linear-gradient(
      rgba(231, 220, 231, 0.5),
      rgba(253, 253, 253, 0.9)
    ),
    url(../images/user-profile/profile-bg.jpg) no-repeat left top;
  background-size: cover; */
  font-family: 'Rubik', sans-serif;
}

.profile-view {
  padding-top: 0;
}

.profile-header {
  color: rgb(241, 238, 238);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 20px 0;
  height: 35vh;
  background: linear-gradient(rgba(70, 64, 70, 0.5), rgba(58, 53, 53, 0.9)),
    url(../images/user-profile/profile-bg.jpg) no-repeat left top;
  background-size: cover;
  box-shadow: 5px 5px 15px rgba(77, 75, 75, 0.3);
}

@media screen and (max-width: 500px) {
  .profile-header {
    font-size: 25px;
    height: 30vh;
  }
}

.profile-container {
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.profile-container h2 {
  color: rgb(44, 43, 44);
}

.profile-settings,
.profile-bookings {
  box-shadow: 5px 5px 15px rgba(177, 172, 172, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin: 10px;
}

.profile-settings {
  width: 55%;
}

.profile-bookings {
  width: 40%;
}

@media screen and (max-width: 900px) {
  .profile-settings,
  .profile-bookings {
    width: 90%;
  }
}

.edit-profile-form {
  max-width: 100%;
}

.user-profile-image {
  width: 70px;
}

.profile-image-input {
  width: 0.1px;
  height: 0.1px;
}

.profile-form-group {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.edit-profile-input {
  padding: 5px 10px;
  max-width: 90%;
  border: 0.5px solid rgb(219, 208, 208);
  border-radius: 5px;
}

.profile-form-group.profile-image {
  flex-direction: row;
  align-items: center;
}

label {
  font-weight: 500;
  color: rgb(31, 26, 26);
  padding: 2px 3px;
}
