{{!-- views/tous-details.hbs --}}
<a href="/">Go back Home</a>

<h2>Details for the Tour</h2>

<div>
    <h4>Name: {{name}}</h4>
    <p>Description: {{description}}</p>
    <img src="{{image}}" alt="">
    <p>Tour guide: {{tourGuide.name}}</p>
</div>
